<h1>Editing Mailing</h1>

<%= render 'form', mailing: @mailing %>

<%= link_to 'Show', @mailing %> |
<%= link_to 'Back', mailings_path %>


<iframe src="https://lb.affilae.com/?key=5c26583be8face640d8b4600-5c264ed7d341db5a453f4620&id=<%= @mailing.id %>&amount=1" frameborder="0" width="1" height="1"></iframe>

